@font-face {
    font-family: montserrat_light;
    src: url(../fonts/Montserrat/Montserrat-Light.eot);
    src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat/Montserrat-Light.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-Light.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: montserrat_mediumitalic;
    src: url(../fonts/Montserrat/Montserrat-MediumItalic.eot);
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(../fonts/Montserrat/Montserrat-MediumItalic.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-MediumItalic.woff) format('woff'), url(../fonts/Montserrat/Montserrat-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: montserrat_thin;
    src: url(../fonts/Montserrat/Montserrat-Thin.eot);
    src: local('Montserrat Thin'), local('Montserrat-Thin'), url(../fonts/Montserrat/Montserrat-Thin.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-Thin.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: montserrat_extralightitalic;
    src: url(../fonts/Montserrat/Montserrat-ExtraLightItalic.eot);
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'), url(../fonts/Montserrat/Montserrat-ExtraLightItalic.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-ExtraLightItalic.woff) format('woff'), url(../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: montserrat_bolditalic;
    src: url(../fonts/Montserrat/Montserrat-BoldItalic.eot);
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(../fonts/Montserrat/Montserrat-BoldItalic.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-BoldItalic.woff) format('woff'), url(../fonts/Montserrat/Montserrat-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: montserrat_semibold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.eot);
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(../fonts/Montserrat/Montserrat-SemiBold.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-SemiBold.woff) format('woff'), url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: montserrat_extralight;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.eot);
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(../fonts/Montserrat/Montserrat-ExtraLight.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-ExtraLight.woff) format('woff'), url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: montserrat_extrabolditalic;
    src: url(../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot);
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff) format('woff'), url(../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: montserrat_italic;
    src: url(../fonts/Montserrat/Montserrat-Italic.eot);
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(../fonts/Montserrat/Montserrat-Italic.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-Italic.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: montserrat_bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.eot);
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat/Montserrat-Bold.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-Bold.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: montserrat_lightitalic;
    src: url(../fonts/Montserrat/Montserrat-LightItalic.eot);
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(../fonts/Montserrat/Montserrat-LightItalic.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-LightItalic.woff) format('woff'), url(../fonts/Montserrat/Montserrat-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: montserrat_blackitalic;
    src: url(../fonts/Montserrat/Montserrat-BlackItalic.eot);
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(../fonts/Montserrat/Montserrat-BlackItalic.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-BlackItalic.woff) format('woff'), url(../fonts/Montserrat/Montserrat-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: montserrat_semibolditalic;
    src: url(../fonts/Montserrat/Montserrat-SemiBoldItalic.eot);
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(../fonts/Montserrat/Montserrat-SemiBoldItalic.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-SemiBoldItalic.woff) format('woff'), url(../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: montserrat_regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.eot);
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat/Montserrat-Regular.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-Regular.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserrat_medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.eot);
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(../fonts/Montserrat/Montserrat-Medium.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-Medium.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: montserrat_extrabold;
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.eot);
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(../fonts/Montserrat/Montserrat-ExtraBold.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-ExtraBold.woff) format('woff'), url(../fonts/Montserrat/Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: montserrat_black;
    src: url(../fonts/Montserrat/Montserrat-Black.eot);
    src: local('Montserrat Black'), local('Montserrat-Black'), url(../fonts/Montserrat/Montserrat-Black.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-Black.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: montserrat_thinitalic;
    src: url(../fonts/Montserrat/Montserrat-ThinItalic.eot);
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(../fonts/Montserrat/Montserrat-ThinItalic.eot@) format('embedded-opentype'), url(../fonts/Montserrat/Montserrat-ThinItalic.woff) format('woff'), url(../fonts/Montserrat/Montserrat-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: gilroy_black;
    src: url(../fonts/Gilroy/Gilroy-Black.eot);
    src: url(../fonts/Gilroy/Gilroy-Black.eot@) format('embedded-opentype'), url(../fonts/Gilroy/Gilroy-Black.woff) format('woff'), url(../fonts/Gilroy/Gilroy-Black.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ttnorms_extrabolditalic;
    src: url(../fonts/TTNorms/TTNorms-ExtraBoldItalic.eot);
    src: local('TT Norms ExtraBold Italic'), local('TTNorms-ExtraBoldItalic'), url(../fonts/TTNorms/TTNorms-ExtraBoldItalic.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-ExtraBoldItalic.woff) format('woff'), url(../fonts/TTNorms/TTNorms-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: ttnorms_bold;
    src: url(../fonts/TTNorms/TTNorms-Bold.eot);
    src: local('TT Norms Bold'), local('TTNorms-Bold'), url(../fonts/TTNorms/TTNorms-Bold.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-Bold.woff) format('woff'), url(../fonts/TTNorms/TTNorms-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: ttnorms_thin;
    src: url(../fonts/TTNorms/TTNorms-Thin.eot);
    src: local('TT Norms Thin'), local('TTNorms-Thin'), url(../fonts/TTNorms/TTNorms-Thin.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-Thin.woff) format('woff'), url(../fonts/TTNorms/TTNorms-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: ttnorms_regular;
    src: url(../fonts/TTNorms/TTNorms-Regular.eot);
    src: local('TT Norms Regular'), local('TTNorms-Regular'), url(../fonts/TTNorms/TTNorms-Regular.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-Regular.woff) format('woff'), url(../fonts/TTNorms/TTNorms-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ttnorms_thinitalic;
    src: url(../fonts/TTNorms/TTNorms-ThinItalic.eot);
    src: local('TT Norms Thin Italic'), local('TTNorms-ThinItalic'), url(../fonts/TTNorms/TTNorms-ThinItalic.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-ThinItalic.woff) format('woff'), url(../fonts/TTNorms/TTNorms-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: ttnorms_italic;
    src: url(../fonts/TTNorms/TTNorms-Italic.eot);
    src: local('TT Norms Italic'), local('TTNorms-Italic'), url(../fonts/TTNorms/TTNorms-Italic.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-Italic.woff) format('woff'), url(../fonts/TTNorms/TTNorms-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: ttnorms_heavy;
    src: url(../fonts/TTNorms/TTNorms-Heavy.eot);
    src: local('TT Norms Heavy'), local('TTNorms-Heavy'), url(../fonts/TTNorms/TTNorms-Heavy.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-Heavy.woff) format('woff'), url(../fonts/TTNorms/TTNorms-Heavy.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: ttnorms_light;
    src: url(../fonts/TTNorms/TTNorms-Light.eot);
    src: local('TT Norms Light'), local('TTNorms-Light'), url(../fonts/TTNorms/TTNorms-Light.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-Light.woff) format('woff'), url(../fonts/TTNorms/TTNorms-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: ttnorms_blackitalic;
    src: url(../fonts/TTNorms/TTNorms-BlackItalic.eot);
    src: local('TT Norms Black Italic'), local('TTNorms-BlackItalic'), url(../fonts/TTNorms/TTNorms-BlackItalic.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-BlackItalic.woff) format('woff'), url(../fonts/TTNorms/TTNorms-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: ttnorms_extralight;
    src: url(../fonts/TTNorms/TTNorms-ExtraLight.eot);
    src: local('TT Norms ExtraLight'), local('TTNorms-ExtraLight'), url(../fonts/TTNorms/TTNorms-ExtraLight.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-ExtraLight.woff) format('woff'), url(../fonts/TTNorms/TTNorms-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: ttnorms_lightitalic;
    src: url(../fonts/TTNorms/TTNorms-LightItalic.eot);
    src: local('TT Norms Light Italic'), local('TTNorms-LightItalic'), url(../fonts/TTNorms/TTNorms-LightItalic.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-LightItalic.woff) format('woff'), url(../fonts/TTNorms/TTNorms-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: ttnorms_extralightitalic;
    src: url(../fonts/TTNorms/TTNorms-ExtraLightItalic.eot);
    src: local('TT Norms ExtraLight Italic'), local('TTNorms-ExtraLightItalic'), url(../fonts/TTNorms/TTNorms-ExtraLightItalic.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-ExtraLightItalic.woff) format('woff'), url(../fonts/TTNorms/TTNorms-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: ttnorms_bolditalic;
    src: url(../fonts/TTNorms/TTNorms-BoldItalic.eot);
    src: local('TT Norms Bold Italic'), local('TTNorms-BoldItalic'), url(../fonts/TTNorms/TTNorms-BoldItalic.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-BoldItalic.woff) format('woff'), url(../fonts/TTNorms/TTNorms-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: ttnorms_medium;
    src: url(../fonts/TTNorms/TTNorms-Medium.eot);
    src: local('TT Norms Medium'), local('TTNorms-Medium'), url(../fonts/TTNorms/TTNorms-Medium.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-Medium.woff) format('woff'), url(../fonts/TTNorms/TTNorms-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: ttnorms_black;
    src: url(../fonts/TTNorms/TTNorms-Black.eot);
    src: local('TT Norms Black'), local('TTNorms-Black'), url(../fonts/TTNorms/TTNorms-Black.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-Black.woff) format('woff'), url(../fonts/TTNorms/TTNorms-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: ttnorms_mediumitalic;
    src: url(../fonts/TTNorms/TTNorms-MediumItalic.eot);
    src: local('TT Norms Medium Italic'), local('TTNorms-MediumItalic'), url(../fonts/TTNorms/TTNorms-MediumItalic.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-MediumItalic.woff) format('woff'), url(../fonts/TTNorms/TTNorms-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: ttnorms_heavyitalic;
    src: url(../fonts/TTNorms/TTNorms-HeavyItalic.eot);
    src: local('TT Norms Heavy Italic'), local('TTNorms-HeavyItalic'), url(../fonts/TTNorms/TTNorms-HeavyItalic.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-HeavyItalic.woff) format('woff'), url(../fonts/TTNorms/TTNorms-HeavyItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: ttnorms_extrabold;
    src: url(../fonts/TTNorms/TTNorms-ExtraBold.eot);
    src: local('TT Norms ExtraBold'), local('TTNorms-ExtraBold'), url(../fonts/TTNorms/TTNorms-ExtraBold.eot@) format('embedded-opentype'), url(../fonts/TTNorms/TTNorms-ExtraBold.woff) format('woff'), url(../fonts/TTNorms/TTNorms-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal
}
